body {
	background-color: white;
	position: relative;
	width: 300px;
	overflow: auto;
	font-family: sans-serif;
	font-size: small;
}

.clickable {
	cursor: default;
}

.clickable:hover {
	background-color: rgb(244, 244, 170);
}

.clickable:active {
	background-color: rgb(244, 244, 110);
}

menu.videoList {
	list-style-type: none;
	margin-left: 0;
	padding: 0px;
}

.video {
	clear: both;
}

.videoInfoCell {
	float: left;
	padding: 0.2em;
	width: 278px;
}

.videoTitle {
}

.videoTime {
	margin-left: 1em;
	font-size: x-small;
}

.removeButtonCell {
	float: right;
}

.wrapper {
	padding-bottom: 40px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#footer {
	background-color: white;
	margin-left: 0;
	padding-left: 0;
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 300px;
}

.footerButtons {
	text-align: center;
}
