/*
Copyright © 2012-2017 Martin Puppe

This file is part of resumeLater.

resumeLater is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

resumeLater is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with resumeLater. If not, see <http://www.gnu.org/licenses/>.
*/

#buttons {
    text-align: right;
}

.hidden {
    display: none;
}

.instructionsImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#videoList {
    list-style-type: none;
    padding: 0;
}

.video:nth-child(even){
    background-color: #dadada;
}

.videoFloatContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoFloatContainer button {
    margin: 0.3em;
}

.videoInfoBox {
    margin: 0.3em;
}

.videoTitle {
}

.videoTime {
    font-size: small;
}
/* vim: set ts=4 sw=4 sts=4 tw=72 et :*/
